
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the color of the active tab */
.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: green !important;
  }
  
  /* Optional: Change the color of the active tab underline */
  .ant-tabs-ink-bar {
    background-color: green !important;
  }
  
  /* Optional: Change the color of the hover state */
  .ant-tabs-tab:hover {
    color: green !important;
  }


  
  @layer components {
    .service-card {
      position: relative;
      overflow: hidden;
      background: white;
    }
  
    .service-card::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, #18763a, #18763a);
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      z-index: 0;
    }
  
    .service-card:hover::before {
      transform: translateX(0);
    }
  
    .service-card > * {
      position: relative;
      z-index: 1;
    }
  }
  
  .chart-container {
    max-height: 400px; /* Adjust as needed */
    height: 100%;
  }